version: "3"

services:
    db:
        image: postgres:16
        container_name: pg
        restart: always
        ports:
            - "5432:5432"
        volumes:
            - pgdata:/var/lib/postgresql/data
            - ./db/init:/docker-entrypoint-initdb.d

    import:
        build: ./import
        container_name: import
        volumes:
            - ./import:/app
        working_dir: /app
        command: python import.py
        depends_on:
            - db
        profiles:
            - manual
    
    bot:
        build: ./bot
        container_name: bot
        env_file: .env
        depends_on:
            - db

    
volumes:
  pgdata: